<h3>Look Up Currency</h3>
  <%= form_tag home_lookup_path, :method => 'POST' do %>
    <%= text_field_tag 'sym', nil, paceholder: 'enter crypto symbol', size: 50 %>
      <%= submit_tag 'look up information'%>
    <% end %>
  </form>
</br>

<div>
  <% if @symbol %>
    <% @lookup_coin.each do |id, coin| %>
      <% if @symbol == coin['symbol']%>
      <div class='container'>
        <img alt="" src='https://s2.coinmarketcap.com/static/img/coins/16x16/<%= id %>.png'/></br>
        <%= coin['name'] %></br>
        <%= coin['symbol'] %></br>
          $<%= coin['quotes']['USD']['price'] %></br>
          last hour: <%= coin['quotes']['USD']['percent_change_1h'] %>%</br>
          24h: <%= coin['quotes']['USD']['percent_change_24h'] %>%</br>
          7 days: <%= coin['quotes']['USD']['percent_change_7d'] %>%</br>
          </br>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
